In [12]:
#Import Packages/Data
import numpy as np 
import pandas as pd
import plotly.express as px
import plotly.io as pio
import json
import plotly.graph_objects as go


pio.renderers.default = 'browser'

df = pd.read_csv("C:\\Users\\22henrywb\\Desktop\\Data Science\\data_science_21-22\\Datasets\\avocado.csv")
key = pd.read_csv("./regionKey.csv")
statesJson = json.load(open("./20m.json"))

In [13]:
state_id_map = {}

for feature in statesJson['features']:
    feature['id'] = feature['properties']['STATE']
    state_id_map[str.lower(feature['properties']['NAME'])] = feature['id']

In [3]:
regions = ["West","California","Plains","SouthCentral","GreatLakes","Northeast","Midsouth","Southeast"]
df_regional = df[(df.region.isin(regions))&(df.type=="conventional")]

In [4]:
df_state = pd.merge(key, df_regional, on="region")
df_state['id'] = df_state['state'].apply(lambda x: state_id_map[x])
df_state = df_state.sort_values('Date')

In [5]:
def getDate(date):
    return(df_state[(df_state['Date']==date)|(df_state['Date']=="2015-12-13")])
getDate("2015-12-27")

uniqueDate = pd.unique(df_state.Date)

In [6]:
mapDf = getDate("2015-12-27")
statesJson['features'][0].keys()

# mapDf = df_state[1:10]

print(len(pd.unique(mapDf.Date)), 
      mapDf.AveragePrice.max(),171
      mapDf.AveragePrice.min(),
      mapDf.shape)

2 1.2 0.78 (96, 16)

In [7]:
#Generate Animation

fig = px.choropleth(mapDf, range_color=[0.62, 1.98], animation_frame='Date', animation_group='region', locations='id', geojson=statesJson, basemap_visible=False, color='AveragePrice', color_continuous_scale="BuGn", scope="usa")
fig.show()

In [8]:
#Generate Single Frame 

fig = px.choropleth(mapDf, locations='id', geojson=statesJson, basemap_visible=False, color='AveragePrice', color_continuous_scale="BuGn", scope="usa")
fig.show()

In [9]:
#2:28 pm 12/4

In [10]:
mapDf.head()

,state,region,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,id
1692,california,California,2,2015-12-13,0.87,5259354.30,1806690.08,1627240.76,232985.13,1592438.33,1404012.00,180150.37,8275.96,conventional,2015,06
2368,nebraska,Plains,2,2015-12-13,1.02,1472501.13,695419.91,463238.46,17927.73,295915.03,266174.79,28516.98,1223.26,conventional,2015,31
6762,connecticut,Northeast,2,2015-12-13,1.09,3696551.52,81055.10,2852333.86,4716.39,758446.17,706707.82,51734.84,3.51,conventional,2015,09
5917,south carolina,Midsouth,2,2015-12-13,1.03,2193142.82,515063.58,1060753.67,113979.43,503346.14,445274.87,57239.73,831.54,conventional,2015,45
7607,pennsylvania,Northeast,2,2015-12-13,1.09,3696551.52,81055.10,2852333.86,4716.39,758446.17,706707.82,51734.84,3.51,conventional,2015,42